strict-peer-dependencies=false
prefer-offline=true
shamefully-hoist=true
auto-install-peers=true
node-linker=hoisted
prefer-frozen-lockfile=false
fetch-retries=5
fetch-timeout=60000
prefer-workspace-packages=true
lockfile-only=false
